.container-loader {
	min-height: 60vh;
	width: 100%;
	display: grid;
	place-items: center;
	background-color: #FFF;
}

.loader {
	position: relative;
	padding: 30px;
}

.loader span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	animation-name: squareMotion;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.loader span:nth-child(1) {
	background-color: #393E46;
	animation-delay: -0.5s;
}

.loader span:nth-child(2) {
	background-color: #00ADB5;
	animation-delay: -1.5s;
}

.loader span:nth-child(3) {
	background-color: #FC3C3C;
	animation-delay: -2.5s;
}

.loader span:nth-child(4) {
	background-color: #F8B500;
	animation-delay: -3.5s;
}

@keyframes squareMotion {
	25% {
		left: 100%;right: 0;top: 0;bottom: 100%;
	}
	50% {
		left: 100%;right: 0;top: 100%;bottom: 0;
	}
	75% {
		left: 0;right: 100%;top: 100%;bottom: 0;
	}
	100% {
		left: 0;top: 0;right: 100%;bottom: 100%;
	}
}

@media(min-width: 600px) {
	.loader {
		padding: 36px;
	}
	.loader span {
		width: 24px;
		height: 24px;
	}
}

@media(min-width: 1000px) {
	.loader {
		padding: 40px;
	}
	.loader span {
		width: 27px;
		height: 27px;
	}
}