<div class="container">
    <header class="header">
      <h1 class="main-title text-center">Teste Cielo/Stefanini</h1>
    </header>

    <main class="main">
       <table class="table table-responsive">
          <tr>
            <th>Data do lançamento</th>
            <th>Descrição</th>
            <th>Número<th>
            <th>Situação</th>
            <th>Data de confirmação</th>
            <th>Dados bancários</th>
            <th>Valor final</th>
          <tr>
      </table>
    </main>
</div>